Source: ros-indigo-rocon-devices
Section: misc
Priority: extra
Maintainer: DongWook Lee <dwlee@yujinrobot.com>
Build-Depends: debhelper (>= 9.0.0), ros-indigo-catkin
Homepage: http://wiki.ros.org/rocon_devices
Standards-Version: 3.9.2

Package: ros-indigo-rocon-devices
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-indigo-rocon-hue, ros-indigo-rocon-python-hue, ros-indigo-rocon-rtsp-camera-relay
Description: rocon devices meta package
