Source: ros-indigo-rocon-python-hue
Section: misc
Priority: extra
Maintainer: Dongwook Lee <dwlee@yujinrobot.com>
Build-Depends: debhelper (>= 9.0.0), ros-indigo-catkin
Homepage: https://github.com/studioimaginaire/phue
Standards-Version: 3.9.2

Package: ros-indigo-rocon-python-hue
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, 
Description: The patched version of phue(r7) wrapper - Create the exception.py and move the exception class - Add the &quot;reachable&quot; flag. Possible to get the each bulb validation. - Connection method change. No more use the user name. The user name is pre-define to &quot;newdeveloper&quot;. It has the all permission of hue restapi.
